ul{   
    list-style: none;
    padding-left: 0;
}

/* NAVIGATION */
nav{
    display: flex;
    background-color: #ccc;
    justify-content: space-between;
}

footer{
    background-color: #ccc;
    margin: 0.8rem 0;
    height: 125px;
}

ul.tabs{
    display: flex;
    align-items: center;
}

.sitename{
    display: block;
    font-size: 30px;
    margin: 1.0rem;
    font-weight: bold;
}

li.tab{
    display: block;
}

a{
    text-decoration: none;
    color: black;
    padding: 0.8rem;
}

/* MAIN */
main{
    display: flex;
    margin: 1.0rem 0;
}

div.game{
    display: flex;
    flex-direction: column;
    flex-grow: 4;
    background-color: #ccc;
    /* margin-top: 1rem; */
}

.gametitle{
    margin: 0.5rem;
    padding: 0.8rem;
    font-weight: bold;
    font-size: large;
}

div.maingame{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 1rem 0;
}

div.anstype{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50%;
    user-select: none;
}

input[type="image"]{
    object-fit: cover;
    height: 3rem;
    width: 3rem;
}

table.board{
    display: flex;
    flex-direction: column;
    padding: 2rem 2;
    border: 2px solid;
}

.row {
    display: flex;
} 

td.grid{
    display: flex;
    flex-wrap: wrap;
    background-color: #ddd;
    height: 150px;
    width: 150px;
    margin: 0;
    padding: 0;
    outline: 3px solid;
}

ul.cell{
    display: flex;
    flex-wrap: wrap;
    height: calc(100%/3);
    width: calc(100%/3);
    background-color: #fff;
    margin: 0;
    outline: 1px solid;
}

.grid :hover{
    background-color: #ccc;
}

li.note{
    height: calc(100%/3);
    width: calc(100%/3);
    font-size: 15px;
    text-align: center;
    margin: 0;
    cursor: default;
    user-select: none;
}

.answercell{
    text-align: center;
    font-size: 40px;
    color: rgb(151, 142, 142);
    height: 100%;
    width: 100%;
    cursor: default;
    user-select: none;
}

.cell.disabled{
    pointer-events: none;
}

.answercell.disabled{
    color: black;
}

div.numbers{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80%;
    background-color: #ddd;
    user-select: none;
}

label.number{
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    padding: 0.7rem;
    background-color: #ddd;
    cursor: pointer;
}

input[type="radio"] {
    display:none;   
}

label.answermode{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    width: 3.5rem;
    border: 1px solid;
    border-radius: 50%;
}

input[type="radio"].number:checked + label {
    font-size: 45px;
    color: rgb(21, 111, 196);
}

input[type="radio"].answermode:checked + label {
    background-color: #fff;
}

div.quickbuttons{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

div.quickbuttons > button{
    height: 50px;
    width: 4.8rem;
    text-align: right;
    margin: 0 0.3rem;
    background: #eee left no-repeat;
}

#undo{
    background-image: url('https://img.icons8.com/ios-glyphs/30/000000/undo.png') ;
}

#reset{
    background-image: url("https://img.icons8.com/ios-filled/50/000000/recurring-appointment.png");
    background-size: 25px;
    background-position: 5px;
}

aside{
    flex-grow: 3;
    margin-left: 0.5rem;
    background-color: #ccc;
}

/* States */

.hidden {
   display: none; 
}

.conflict {
    color: red !important;
}

label.disabled{
    color: #ddd;
    cursor: default;
}

ul.relativeCell{
    background-color: #ccc !important;
}

.answercell.highlighted{
    color: rgb(92, 189, 250) ;
}

/* Media Queries */

@media only screen and (max-width: 768px) {
    main{
        display: flex;
        flex-direction: column;
    }
    aside{
        margin: 0.5rem 0;
    }
}